
* { 
  border: 1px solid rgba(0, 0, 0, 0.3);
width:100%;


}

.theimg
{
height: 100%;
width: 100%;
}

p {


position: fixed;
text-align: center;
font-size: 300px;
color: #F4EEAC;
text-transform: uppercase;
font-family: 'Roboto', sans-serif;
line-height: 8em;
letter-spacing: 0.1em;
word-spacing: .5em;
font-weight: bold;
z-index: 1000;
width: 100%;
height: 100%;
}


.titletext {
position: fixed;
width:100%;
height:100%
;

}


.html {
position:absolute;
width:100%;
height: 100%;
;

}

.head {
position: fixed:
width:100%;
height: 100%;

}

#Clinton {
position:absolute;

z-index: -1000;}

.body {
position: fixed;
width: 100%;
}


.thevid {
position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: visible;
z-index: -100;
height: 100%;
width: 100%;

}

.container {
position: absolute;
height: 100%;
width: 100%;
z-index: -1000;
}



.fullscreenVideo {
position:absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: -999;

width: 100%;
height: 100%;



}

@media (min-aspect-ratio: 16/9) {
  .fullscreenVideo {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreenVideo {
    width: 300%;
    left: -100%;
  }
}
