
p {


/* background-image: url("http://media.washtimes.com.s3.amazonaws.com/media/image/2016/02/08/HillaryClinton.jpg");
background-size: cover;
background-repeat: no-repeat; */
text-align: center;
font-size: 300px;
color: #F4EEAC;
text-transform: uppercase;
font-family: 'Roboto', sans-serif;
line-height: 10em;
letter-spacing: 0.1em;
word-spacing: .5em;
font-weight: bold;
}

.fullscreen-bg {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;

z-index: -100;
}

.fullscreenVideo {
position:absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
width: 100%;
height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreenVideo {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreenVideo {
    width: 300%;
    left: -100%;
  }
}
// next thing to do is add playbackRate adjustment to vid on click?